.idea
.vscode
.DS_Store

# macos files
__MACOSX
.DS_Store

__pycache__
*pyc
.coverage
.mypy_cache
.pytest_cache
.tox
venv

db.sqlite3
.env*
*.log
*.log*
*.sql

celerybeat-schedule
celerybeat.pid

docs/_build
static/

*.rdb
*.png
